
<div class='image-background'>
    <div class='container h-100'>    
        <div class="row">
        <div class="col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 70px; border-style:groove;border-color:black;margin-bottom: 100px;">
            <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/349/754/original/modern-elegant-certificate-template-free-vector.jpg" alt="Card image cap">
            <div class="card-body" style="font-weight:bold; font-size: larger;">
              <p class="card-text">UiPath DataTables and Excel Automation with Studio.</p>
            </div>
          </div>
</div>

<div class="col-lg-4">
    <div class="card" style="width: 18rem; margin-top: 70px; margin-left:50px;border-style:groove;border-color:black;margin-bottom: 100px;">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/349/754/original/modern-elegant-certificate-template-free-vector.jpg" alt="Card image cap">
        <div class="card-body" style="font-weight:bold; font-size: larger;">
          <p class="card-text">Python online certification on Python for Data Science.</p>
        </div>
      </div>
</div>

<div class="col-lg-4">
    <div class="card" style="width: 18rem;  margin-top: 70px; margin-left:100px; border-style:groove;border-color:black;margin-bottom: 100px;">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/349/754/original/modern-elegant-certificate-template-free-vector.jpg" alt="Card image cap">
        <div class="card-body" style="font-weight:bold; font-size: larger;">
          <p class="card-text">Certificate of internship on Exposys Data Labs.</p>
        </div>
      </div>
</div>

<div class="col-lg-4">
    <div class="card" style="width: 18rem;margin-top: 70px; border-style:groove;border-color:black;margin-bottom: 100px;">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/349/754/original/modern-elegant-certificate-template-free-vector.jpg" alt="Card image cap">
        <div class="card-body" style="font-weight:bold; font-size: larger;">
          <p class="card-text">Big Data Machine Learning Technique using Spark..</p>
        </div>
      </div>
</div>

<div class="col-lg-4">
    <div class="card" style="width: 18rem;margin-left: 50px;margin-top: 70px; border-style:groove;border-color:black;margin-bottom: 100px;">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/349/754/original/modern-elegant-certificate-template-free-vector.jpg" alt="Card image cap">
        <div class="card-body" style="font-weight:bold; font-size: larger;">
          <p class="card-text">Top 25 in Aspire and Achieve conducted by Infosys.</p>
        </div>
      </div>
</div>

<div class="col-lg-4">
    <div class="card" style="width: 18rem;margin-left: 100px;margin-top: 70px; border-style:groove;border-color:black;margin-bottom: 100px;">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/349/754/original/modern-elegant-certificate-template-free-vector.jpg" alt="Card image cap">
        <div class="card-body" style="font-weight:bold; font-size: larger;">
          <p class="card-text">Coursera From Data to Insights with Google Cloud. </p>
        </div>
      </div>
</div>
</div>
</div>
</div>
