
<div class='image-background'>
  <div class='container h-100'> 
    <br>
    <h4>UiPath DataTables and Excel Automation with Studio.</h4>
    <br>
    <a href="https://drive.google.com/drive/u/2/folders/1BJumDeHpKkkog7CGE6MZSJTaBd-EPH4X">More</a>
    <hr>
    <h4>Python online certification on Python for Data Science.</h4>
    <br>
    <a href="https://drive.google.com/drive/u/2/folders/1_PdWsefeUbRDxzSxryi9UVul_lPQtIqA">More</a>
    <hr>
    <h4>Certificate of internship on Exposys Data Labs.</h4>
    <br>
    <a href="https://drive.google.com/drive/u/2/folders/1YYh-yth8_i2v5TEM7MZ2axCve4YtvZB1">More</a><hr>
    <h4>Big Data Machine Learning Technique using Spark.</h4>
    <br>
    <a href="https://drive.google.com/drive/u/2/folders/1-cdlnoCCRkS2_k4gedWIDvK_osR3LBfJ">More</a><hr>
    <h4>Top 25 in Aspire and Achieve conducted by Infosys.</h4>
    <br>
    <a href="https://drive.google.com/drive/u/2/folders/1kCHXxNoOgpczV7T7dDSMqGXC2F9ckuaS">More</a><hr>
    <h4>Coursera From Data to Insights with Google Cloud.</h4>
    <br>
    <a href="https://drive.google.com/drive/u/2/folders/1EFO15p7wJ5vraZdk-Au9HYwGzWwz935V">More/<a>


  