
<div class='image-background'>  
    <div class='container h-100'>    
  <div class="row">
  <div class="col-sm-4">
      
  <div class="card" style="width: 18rem; margin-top: 250px; padding: 40px 30px; margin-left: 30px; background:lightblue;">
      <div class="card-body">
        <h2 class="card-title">10th</h2>
        <h5 class="card-subtitle mb-2 text-muted">Sri Venkataramana english medium highschool kundapur.</h5><br>
        <h5 class="card-text">Board - State <br><br> Percentage - 93%</h5>
      
      </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem; margin-top: 250px; margin-left: 70px; padding: 60px 30px; background:lightpink;">
          <div class="card-body">
            <h2 class="card-title">12th</h2>
            <h5 class="card-subtitle mb-2 text-muted">RN Shetty pu college kundapur.</h5><br>
            <h5 class="card-text">Board - State <br><br> Percentage - 90%</h5>
          </div>
        </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem; margin-top: 250px; margin-left: 100px; padding: 60px 30px; background:lightgray">
              <div class="card-body">
                <h2 class="card-title">B.E</h2>
                <h5 class="card-subtitle mb-2 text-muted">NMAM Institute of technology nitte</h5><br>
                <h5 class="card-text">Board - VTU <br> <br>CGPA - 8.43</h5>
              </div>
            </div>
            </div>   
    </div>
    </div>
  </div>  