<!--Section: Contact v.2-->
<div class='image-background'>
        <div class='container h-100'>
          
            <div class="main">
                <!--Grid row-->
                <div class="row" >

                    <!--Grid column-->
                    <div class="col-md-6" style="margin-top: 20px; margin-left: 50px;">
                    
                            <label for="name" class="">Your name : </label><br>
                            <input type="text" id="name" name="name">

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6" style="margin-top: 20px; margin-left: 50px;">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email : </label><br>
                            <input type="text" id="email" name="email">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                
                <!--Grid row-->
                <!--Grid row-->
                    <br><br>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12" style=" margin-left: 50px;">

                        <div class="md-form">
                            <label for="message">Your message : </label><br>
                            <textarea type="text" id="message" name="message" rows="3"></textarea>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->
            </div>
                <br><br>
            
                <button type="submit" style="margin-left: 50px;"class="btn btn-primary" (click)="onClick()">Submit</button>
                
            <br><br>

        <!--Grid column-->
        <div class="row">
            <div class="col-lg-4" style="font-weight:500; margin-left:50px;font-size: x-large; margin-top: 10px;">        
                 <p>Number : </p>
                </div>
                <div class="col-lg-4" style="font-weight: bold; margin-left:150px;font-size: x-large; margin-top: 10px;">
                            <p>+91 734 905 6922</p>
                        </div>
        </div>
            

            <div class="row">
                <div class="col-lg-4" style="font-weight:500; margin-left:50px;font-size: x-large; margin-top: 10px;">        
                     <p>E-mail : </p>
                    </div>
                    <div class="col-lg-4" style="font-weight: bold; margin-left:150px;font-size: x-large; margin-top: 10px;">
                                <p>ssss934353@gmail.com</p>
                            </div>
            </div>
                

                <div class="row">
                    <div class="col-lg-4" style="font-weight:500; margin-left:50px;font-size: x-large; margin-top: 10px;">        
                         <p>LinkedIn-Id : </p>
                        </div>
                        <div class="col-lg-4" style="font-weight: bold; margin-left:150px;font-size:x-large; margin-top: 10px;">
                                    <a href="https://www.linkedin.com/in/siri-shetty-ab25011a4/">https://www.linkedin.com/in/siri-shetty-ab25011a4/</a>
                                </div>
                </div>

                    <div class="row">
                        <div class="col-lg-4" style="font-weight:500; margin-left:50px;font-size: x-large; margin-top: 10px;">        
                             <p>GitHub :</p> 
                            </div>
                            <div class="col-lg-4" style="font-weight: bold; margin-left:150px;font-size:x-large; margin-top: 10px;">
                                        <a href="https://github.com/siriii10">https://github.com/siriii10</a>
                                    </div>
                    </div>
                        </div>

          </div>
        <!--Grid column-->

    


<!--Section: Contact v.2-->
