
<div class='image-background'>
    <div class='container h-100'>    
    <div class="row">
    <div class="col-lg-6">
    <div class="card" style="width: 18rem;margin-left: 100px; margin-top: 400px; border-style:groove;border-color:black;margin-bottom: 100px;">
        
        <div class="card-body" style="font-weight:bold; font-size: larger;">
            <h4 class="card-title">Music Player </h4><br>
            <h5 class="card-subtitle">Using Python</h5>
        </div>
      </div>
</div>
<div class="col-lg-6">
    <div class="card" style="width: 18rem;margin-left: 200px; margin-top: 400px; border-style:groove;border-color:black;margin-bottom: 100px;">
        
        <div class="card-body" style="font-weight:bold; font-size: larger;">
            <h4 class="card-title">Notify Me </h4><br>
      <h5 class="card-subtitle">Android App</h5>
        </div>
      </div>
</div>

</div>
    </div>
</div>
