<div class='image-background'>
    <nav class="navbar navbar-collapse badge-white">
        <span class="navbar-text">
          TECHNICAL SKILLS         
        </span>
    </nav>
      <br>
      <span class="badge badge-secondary">C</span>
      <span class="badge badge-primary">JAVA</span>
      <span class="badge badge-secondary">DBMS</span>
      <span class="badge badge-solving">Problem solving</span><br>
      <br>
      <br>
      <br><br>
      <!-- <h3>Programming - C, Java <br><br> DBMS <br><br> </h3> -->
      <nav class="navbar navbar-collapse badge-white">
        <span class="navbar-text">
          SOFT SKILLS         
        </span>
    </nav>
    <br>
    <span class="badge badge-info">Communication</span>
      <span class="badge badge-primary">Team work</span>
      <span class="badge badge-secondary">Leadership</span>
      <span class="badge badge-solving">Work ethic</span>
        <br><br><br><br>
      <nav class="navbar navbar-collapse badge-white">
        <span class="navbar-text">
          LANGUAGES KNOWN        
        </span>
    </nav>
    <br>
    <span class="badge badge-info">English</span>
      <span class="badge badge-primary">Kannada</span>
      <span class="badge badge-secondary">Hindi</span>
    </div>
    
      
    